# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
battleship.code-workspace
.vscode

gameboard.sandbox.mjs
gameboard.sandbox.js

shipyard.sandbox.mjs
shipyard.sandbox.js

player.sandbox.js
player.sandbox.mjs