.board-squares {
	padding: 0px 2px;
	border: 1px solid black;
	background-color: darkgrey;
	color: black;
	cursor: crosshair;
}

#computer-board > .board-squares:disabled {
	font-size: 0.6em;
	letter-spacing: 0.5px;
}

#human-board > .board-squares:hover {
	background-color: black;
	color: white;
}

button:focus {
	outline: 0;
}

.hit {
	color: black;
	background-color: red;
	padding: 0px 2px;
	border: 1px solid black;
}

.miss {
	color: black;
	background-color: white;
	padding: 0px 2px;
	border: 1px solid black;
}
