#human-board {
	width: 22rem;
	height: 22rem;
	display: grid;
	grid-gap: 0.2rem;
	padding: 0.2rem;
	outline: 1px solid black;
	position: relative;
	grid-template-columns: repeat(10, 1fr);
	background-color: royalblue;
	cursor: crosshair;
}

#computer-board {
	width: 16rem;
	height: 16rem;
	display: grid;
	grid-gap: 0.2rem;
	padding: 0.2rem;
	outline: 1px solid black;
	position: relative;
	grid-template-columns: repeat(10, 1fr);
	background-color: royalblue;
}
