.play-area {
	position: fixed;
	width: 80%;
	min-height: 100%;
	top: 4rem;
	left: 10.5rem;
	display: inline-block;
}

#human-board-wrapper {
	float: right;
	margin: 8% 35.5% 0 0;
}

#computer-board-wrapper {
	float: left;
	margin: 1% 0 0 0;
}
